html,
body,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 5;
}

.no-spacing{
  margin: 0px;
  padding: 0px;
}

#map-container{
  width:100vw;
  height: 30vh;
}


.popover-content {
  min-width: 180px;
}

#msg {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 5px);
  background-color: rgba(40, 40, 40, .8);
  padding: 10px;
  color: #eee;
  width: 350px;
  text-align: center;
}

.ol-control btn {
  background-color: rgba(40, 40, 40, 0.85) !important;
}

.ol-control btn:hover {
  background-color: rgba(40, 40, 40, 1) !important;
}

.validate{
  border-bottom:1px solid white;
  color:white;
}
.btn{
  border-bottom: 5px solid green;
  background: linear-gradient(lightgreen,green);
  margin:10px;
  width:90%;
  text-align:center;
}

.btn:active{
  color: #5FFFFF;
  transform: translateY(2px);
}

.btn:focus {outline:0;}

.output{
  margin:10px;
}
